<!DOCTYPE html>
<script src="https://kit.fontawesome.com/a84d8a8724.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles.css') }} />
    <title>About</title>
</head>
<body>
    <script>
        function selectContent(name) {
            
            if (name === 'measuring') {
                document.getElementById('contact').style.display = "none";
            }
            else {
                document.getElementById('measuring').style.display = "none";
            }
            document.getElementById(name).style.display = "";
            
        }
        
        
    </script>
    <div id="containAll">
        <div id="head">
            <header>About</header>
            <nav>
                <ul>
                    <li><i class="fa-solid fa-circle-info"></i><a href={{ url_for('about') }}>About Page</a></li>
                    <li><i class="fa-solid fa-chart-line"></i><a href={{ url_for('index') }}>Predict</a></li>
                </ul>
            </nav>
        </div>

        <div id="content-select">
            <ul>
                <li id="contentlink" onclick="selectContent('measuring')">Measuring</li>
                <li id="contentlink" onclick="selectContent('contact')">Contact</li>
            </ul>
            <div id="colorbox"></div>
            <div id="colorbox2"></div>
            <div id="colorbox2"></div>

        </div>


        <div class="content" id="measuring">
            <div class="title">
                <h2>Measuring Information:</h2>
                <p id="small-text"> <i>Individual vertebral height is measured using a sliding caliper as described in Raxter et al. (2006, p.382).</i> </p>
            </div>

            <img id="left" src="static/picture1empty.png" style="max-width: 45%;" />
            <div class="imgcaption1"><p style="text-decoration: underline 2px;"><b>C2 (second cervical vertebra):</b></p> <p>The most superior point of the odontoid process (dens) to the most inferior point of the anterior inferior rim of the vertebral body.</p></div>

            <img id="right" src="static/picture2empty.png" style="max-width: 45%;" />
            <div class="imgcaption2"><p style="text-decoration: underline 2px;"><b>C3 - C7 (3rd-7th cervical vertebrae):</b></p> <p>The maximum height of the vertebral body, measured in its anterior third, medial to the superiorly curving edges of the centrum.</p></div>

            <img id="left" src="static/picture3empty.png" style="max-width: 45%;" />
            <div class="imgcaption1"><p style="text-decoration: underline 2px;"><b>T1 - T12 (thoracic vertebrae): </b></p> <p>The maximum height of the vertebral body, anterior to the rib articular facets and pedicles.</p></div>

            <img id="right" src="static/picture4empty.png" style="max-width: 45%;" />
            <div class="imgcaption2"><p style="text-decoration: underline 2px;"><b>L1 - L5 (lumbar vertebrae): </b></p> <p>The maximum height of the vertebral body, anterior to the pedicles, not including any swelling of the centrum due to the pedicles.</p></div>
        </div>


        <div class="content" id="contact" style="display: none;">
            <div class="title"> <h2>Contact for more information:</h2> </div>
            <div class="textbox">
                <h3>Email:</h3>
                <p>yjeong4@utk.edu</p>
            </div>
            <img id="contactimg" src="static/contactImg.jpg" style="max-width: 45%;" />
        </div>
        <!--<script>
        function myFunction(imgs) {
            // Get the expanded image
            var expandImg = document.getElementById("expandedImg");
            // Get the image text
            var imgText = document.getElementById("imgtext");

            //var imageDiscription = document.getElementById("imageDiscription");
            // Use the same src in the expanded image as the image being clicked on from the grid
            expandImg.src = imgs.src;
            // Use the value of the alt attribute of the clickable image as text inside the expanded image
            imgText.innerHTML = imgs.alt;

            // Show the container element (hidden with CSS)
            expandImg.parentElement.style.display = "block";
        }
    </script>
    <div class="container">-->
        <!-- Close the image
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

    <!-- Expanded image

    <img id="expandedImg">

    <!-- Image text

    <div id="imgtext"></div>
    </div>
    <div class="scroll-container">
        <img src="static/abstract1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." onclick="myFunction(this);" style="object-fit:scale-down;">
        <img src="static/background.jpg" alt="Mountains" onclick="myFunction(this);">
        <img src="static/abstract3.jpg" alt="Lights" onclick="myFunction(this);">
        <img src="static/abstract4.jpg" alt="Mountains" onclick="myFunction(this);">
    </div>

        <!-- The expanding image container -->
        <footer>
            <p>© 2024 Vertebrae Prediction Tool. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
