<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <header>
        <h1>Testing!!!</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#predict">Predict</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="open">
        <h1>Enter Your Known Vertebra Measurements Below:</h1>
    </div>
    
    <form action="{{ url_for('input') }}" method="POST">
        <div class="vertebra-container">
            <div class="vertebra-column"> 
                <h2>Cervical Vertebrae</h2>
                {% for vertebra in cervical %}
                    <label for="{{ vertebra }}">{{ vertebra }}:</label>
                    <input type="number" name="{{ vertebra }}" id="{{ vertebra }}"  min="0" step=".01">
                    <br>
                {% endfor %}
            </div>
            <div class="vertebra-column"> 
                <h2>Thoracic Vertebrae</h2>
                {% for vertebra in thoracic %}
                    <label for="{{ vertebra }}">{{ vertebra }}:</label>
                    <input type="number" name="{{ vertebra }}" id="{{ vertebra }}"  min="0" step=".01">
                    <br>
                {% endfor %}
            </div>
            <div class="vertebra-column"> 
                <h2>Lumbar Vertebrae</h2>
                {% for vertebra in lumbar %}
                    <label for="{{ vertebra }}">{{ vertebra }}:</label>
                    <input type="number" name="{{ vertebra }}" id="{{ vertebra }}"  min="0" step=".01">
                    <br>
                {% endfor %}
            </div>
        </div>
    
        <div class="option">
            <label for="Sex">Select Sex:</label>
            <select name="Sex">
                <option value="" disabled selected>Select a type</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Pooled">Pooled</option>
            </select>
       </div>
        <div class="option">
            <label for="Reg">Select Regression Type:</label>
            <select name="Reg">
                <option value="" disabled selected>Select a type</option>
                <option value="Linear">Linear</option>
                <option value="Random Forest">Random Forest</option>
            </select>
        </div >
        <div class="form-buttons">
            <input type="submit" value="Submit">
        </div>
        <div class ="form-buttons">
            <input type="reset" value="Reset"> <!-- Reset button -->
        </div>
    </form>
</body>

<footer>
    <p>© 2024 Vertebrae Prediction Tool. All rights reserved.</p>
</footer>
</html>
