/* styles.css */

/*fonts used: Rubik for header Poppins for Body*/
.rubik {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#containAll {
    min-width: 1280px;
    max-width: 2040px;
}
footer {
    margin-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 8px;
    margin-bottom: -10%;
    background-color: #333;
    color: white;
    text-align: center;
    border-top: 2px solid grey;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*background for webpage*/
body {
  background-image: url("background5.png");
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: Poppins;
}
/*contains header and nav bar*/
/*#head is the colored banner div*/
#head {
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(180, 156, 109);
    color: white;
    padding: 40px;
    margin-left: -10px;
    margin-right: -10px;
    outline: 1px outset white;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
}
/*text in head*/
header {
    font-size: 70px;
    font-family: Rubik;
    color: black;
    text-align: center;
    width: 100px;
    margin-left: 45%;
    text-decoration: underline;
    /*font-weight: bold;*/
}
/*???*/
h1 {
    text-align: center;
}
/*icons for navbar*/
i {
    padding-left: 8px;
    padding-right: 8px;
    
}
/*nav bar and links*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: -45px;
    width: 300px;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav {
  display: inline;
  margin-top: 0;
}
nav ul li a {
  color: white;
  text-decoration: solid underline;
  font-family: Poppins;
  margin-top: 0;
  font-size: 20px;
}

/*about page formating*/
h2 {
    text-decoration: 1px solid white underline;
    text-underline-offset: 5px;
    margin-left: 20px;
    font-size: 35px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
label {
    text-decoration: 1px solid white underline;
    text-underline-offset: 5px;
}
br {
    display: block;
    margin: 10px 0;
}
/*section title*/
.title {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
    border-radius: 5px;
    /*height: 100px;*/
}
.title-predict {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
    margin: 10px;
    margin-top: -15px;
    border-radius: 5px;
    /*height: 100px;*/
}
/*small informative text under title*/
#small-text {
    font-size: 12px;
    margin-top: -40px;
    margin-bottom: 50px;
    margin-left: 10px;
    padding-bottom: 10px;
}
/*image captions alternating left and right for measurements in about.html*/
.imgcaption1 {
    /*margin-left: 40%;*/
    float: right;
    margin-left: 50px;
    margin-top: 85px;
    margin-right: 20px;
    /*display: inline;*/
    max-width: 45%;
}
.imgcaption2 {
    float: left;
    margin-top: -250px;
    /*display: inline;*/
    padding-left: 10px;
    max-width: 45%;
    margin-left: 20px;
}
/*left and right side picture formating for measurement section in about.html*/
#right {
    margin-left: 55%;
    margin-top: 50px;
    max-width: 45%;
    margin-bottom: 50px;
}
#left {
    margin-left: 30px;
    max-width: 45%;
    margin-top: 50px;
    margin-bottom: 0px;
}
/*box to show content in about page*/
.content {
    /*outline: 1px solid red;*/
    margin-left: 200px;
    margin-right: 20px;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    margin-top: -700px;
    padding: 10px;
    border-radius: 5px;
    /*gives inset look*/
    background-color: rgb(0, 0, 0, 0.2);
    outline: 0.5px inset grey;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px inset;
    min-height: 680px;
}
.index-content {
    background-color: rgb(0, 0, 0, 0.2);
    outline: 0.5px inset grey;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px inset;
    /*min-height: 680px;*/
    margin-top: 25px;
    margin: 10px;
    color: white;
    border-radius: 5px;
}
#contactimg {
    height: 500px;
    margin-left: 55%;
    margin-top: -100px;
    max-width: 45%;
}
/*side nav bar for about.html*/
#content-select {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px inset;
    outline: 0.5px inset grey;
    width: 175px;
    height: 700px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.2);
    /*outline: 1px solid red;*/
    margin-top: 20px;
    border-radius: 5px;
}
#content-select ul {
    list-style: none;
    font-size: 20px;
    width: 175px;
    margin-left: -32.5px;
    margin-right: 10px;
    padding-top: 3px;
}
#content-select ul li {
    color: grey;
    font-family: Poppins;
    width: 155px;
    text-align: center;
    text-decoration: underline;
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 3px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1px;
}
/*grey colored boxes inside side bar on about.html*/
#colorbox {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.2);
    height: 455px;
    width: 155px;
    margin-left: 10px;
    margin-top: -10px;
    border-radius: 1px;
}
#colorbox2 {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    height: 40px;
    width: 155px;
    margin-left: 10px;
    border-radius: 1px;
}
#colorbox3 {
    box-shadow: rgba(0,0,0,0.2) 2px 2px 2px 2px;
    outline: 0.5px outset grey;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 250px;
    height: 75px;
    margin-left: 50px;
    border-radius: 5px;

    margin-top: 20px;
}

#warningMsg {
    color: rgb(243, 16, 16);
    background-color: rgba(0, 0, 0, 0.2); /* Low opacity black background (20% opacity) */
    padding: 15px;
    border-radius: 5px;
}
/*change color of box when hovering over a link*/
#content-select ul li:hover {
    background: rgb(162, 162, 162, 0.44);
}
select {
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
    height: 25px;
}
/*predict.html formating*/
/*input form predict.html*/
form {
    padding-top: 20px;
}

/*input boxes on the form*/
input[type="number"] {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    outline: 0.25px inset grey;
    box-shadow: rgba(0,0,0,0.2) 1px 1px 1px 1px inset;
    background-color: rgb(62, 62, 62, 0.6);
    border-radius: 10px;
    margin-left: 5%;
    color: white;
}
/**/
.box {
    padding: 10px;
    width:300px;
}
.column-box {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 450px;
    padding-bottom: 50px;
    margin-top: -450px;
}
/*title on index.html*/
.open {
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 10px;
    outline: solid 2.5px black;
    padding: 20px;
}

/*drop down selction menus*/
.option {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 25px;
    outline: solid 2.5px black;
    margin-top:10px;

}

/*reset and submit button */
button {
background-color: rgb(180, 156, 109);
color: white;
border-radius: 10px;
cursor: pointer;
font-size: 20px;
width: 250px;
height: 50px;
margin-top: 10px;
}

button:hover {
background-color: #45a049;
}


/* Code for image gallery */

div.scroll-container {
background-color: #333;
overflow: auto;
white-space: nowrap;
padding: 10px;
object-fit: contain;
}

div.scroll-container img {
padding: 10px;
width:250px;
height:250px;
}
.row:after {
content: "";
display: table;
clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
position: relative;
display: none;
background-color: black;
padding: 10px;
margin: 20px;
}
#expandedImg {
width: 50%;
}
/* Expanding image text */
#imgtext {
float: right;
width: 45%;
height: 100%;
margin-top: 3%;
margin-right: 3%;
margin-bottom: 3%;
color: white;
font-size: 20px;
font-family: Poppins;
}
/* Closable button inside the image */
.closebtn {
position: absolute;
top: 10px;
right: 15px;
color: white;
font-size: 35px;
cursor: pointer;
}
