/* styles.css */
body {
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 50px;
    margin-left: -10px;
    margin-right: -10px;
    outline: solid 5px;
    outline-color: black;
}
h1 {
    text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form {
    padding-top: 20px;
}
nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

/*both of these (input and .box) are for vertebra inputs
input[type="number"] {
    padding: 10px;
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 200px;
    outline: solid 2.5px;
    border-radius: 25px;
}
.box {
    display: inline-flex;
    padding: 50px;
    width: 25%;
}
.open {
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 25px;
    outline: solid 2.5px black;
    padding: 20px;
}
.box:nth-child(odd) {
    background-color: rgba(211, 211, 211, 1);
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    outline: solid 2.5px black;
    border-radius: 25px;
}
.box:nth-child(even) {
    padding: 5px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 25px;
    outline: solid 2.5px black;
}
.option {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: rgba(144, 238, 144, 0.9);
    border-radius: 25px;
    outline: solid 2.5px black;
    margin-top:10px;

}

/*reset and submit button
button {
  margin-top: 10px;
  padding: 20px 30px;
  background-color: #4CAF50;
  color: white;
  border-radius: 25px;
  border: 2.5px solid black;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50%;
  margin-right: 50%;
}

button:hover {
  background-color: #45a049;
}

#results-placeholder {
  border: 1px solid #ccc;
  padding: 50px;
  background-color: #fff;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 8px;
  text-align: center;
  width: 100%;
  bottom: 0;
  margin-top: -50px;
}
